
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

.flex-container{
    display: flex;
}

.flex-item{

}

.top-banner .flex-item img{

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.top-banner .flex-item{
    padding-left: 100px;
}

.top-banner h1{
    font-size: 50px;
}

.top-banner h3{
    font-size: 25px;
}

span{
    color: #F88165;
}

.link-button {
    text-decoration: none;
    background:linear-gradient(to right, #FF9873,#FB6655 );
    padding:10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
   
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;

}


.dream-big h3{
    font-size: 25px;
}

.dream-big h1{
    font-size: 40px;
}

.dream-big .flex-item{
    padding-right: 100px;
}


.download-resume-button{
    text-decoration: none;
    background:linear-gradient(to right, #FF9873,#FB6655 );
    padding:10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.experience{
 
}

.experience .flex-item{
    width: 40%;
    box-shadow: 10px 10px 30px 5px gray;
    padding-left: 20px;
    margin-left: 5%;
    
}

.experience h3{
    color: blue;
}


.experience h1{
    font-size: 40px;
}

#experience-border-1 {
    border-left: 5px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}



#experience-border-2 {
    border-left: 5px solid;
    border-image:linear-gradient(red,purple);
    border-image-slice: 1;
}


.experience-area{
    
    margin-bottom: 200px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}

.footer p{
    text-align: center;
}